{% extends "_modal_dialog.html" %}
{% set tab = "login" %}
{% block modal_title %}Registrera dig{% endblock %}
{% block modal_content %}
	<form class="login-form" action="{{ url_for_security('register') }}" method="POST">
		{{ register_user_form.hidden_tag() }}
		<div class="input-group{% if register_user_form.email.errors %} has-error{% endif %}">
			<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
			{{ register_user_form.email(class='form-control', placeholder='E-postadress') }}
		</div>
		<div class="input-group{% if register_user_form.password.errors %} has-error{% endif %}">
			<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
			{{ register_user_form.password(class='form-control', placeholder='Lösenord') }}
		</div>
		{{ register_user_form.next }}
		{{ register_user_form.submit(value='Registrera', class='btn btn-default') }}
		
		<hr />
		
		<p>Har du redan ett konto? <a href="{{ url_for_security('login') }}">Du kan logga in här!</a></p>
		
	</form>
{% endblock %}
