@import "../bower_components/bootstrap/less/bootstrap.less";

/*
 * Globals
 */
body {
	padding-top: 70px;
	padding-bottom: 20px;
}

h5 {
	margin-bottom: 3px;
}

form > input[type=submit] {
	.pull-right()
}

dl {
	dd {
		margin-bottom: 10px;
		
		p:last-child { margin-bottom: 0; }
	}
}

td > a:first-child:last-child {
	display: block;
}

p {
	max-width: 900px;
}

/*
 * Site Elements
 */
.login-form {
	.input-group {
		margin-bottom: 10px;
	}
}

.radiolist {
	list-style-type: none;
}
.has-error .radiolist {
	color: #A94442;
}

/*
 * Custom Bootstrap Stuff
 */
.nav.nav-custom-list {
	li a {
		padding: 5px;
	}
}

.form-control {
	margin-bottom: 10px;
}

.alert {
	padding: 10px;
	
	&.alert-dismissable, &.alert-dismissible {
		padding-right: 30px;
	}
}

@media(max-width: @screen-xs-max) {
	.btn.btn-xs-block, .buttonset > .btn, input[type=submit] {
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
}
@media(min-width: @screen-sm-min) {
	.buttonset {
		.pull-right()
	}
}
