{% extends "_base.html" %}
{% set tab = "guardians" %}
{% block content %}
	<h1>
		{{ guardian.first_name }} {{ guardian.last_name }}
		
	</h1>
	
	{% if guardian.comment %}
	<hr />
	<p>{{ guardian.comment|nl2br }}</p>
	{% endif %}
	
	<hr />
	
	<dl class="dl-horizontal">
		{% if guardian.phone %}
		<dt>Telefonnummer</dt>
		<dd>{{ guardian.phone }}</dd>
		{% endif %}
		{% if guardian.phone2 %}
		<dt>Mobilnummer</dt>
		<dd>{{ guardian.phone2 }}</dd>
		{% endif %}
		{% if guardian.email %}
		<dt>E-postadress</dt>
		<dd>{{ guardian.email }}</dd>
		{% endif %}
	</dl>
	
	{% if guardian.account == current_user.account %}
	<hr />
	
	<div class="buttonset">
		<a class="btn btn-default" href="{{ url_for('guardian_edit', id=guardian.id) }}">Redigera</a>
		<a class="btn btn-danger" href="{{ url_for('guardian_delete', id=guardian.id) }}">Radera</a>
	</div>
	{% endif %}
{% endblock %}
