{% extends "_base.html" %}
{% block content %}
	<div class="list-group">
		{% for guardian in guardians %}
		<a class="list-group-item" href="{{ url_for('guardian', id=guardian.id) }}">
			<strong>{{ guardian.first_name }} {{ guardian.last_name }}</strong>
			<span class="pull-right">
				{% if guardian.phone %}<i class="glyphicon glyphicon-earphone"></i>{% endif %}
				{% if guardian.email %}<i class="glyphicon glyphicon-envelope"></i>{% endif %}
			</span>
		</a>
		{% endfor %}
		{% if guardians.count() < 2 %}
		<a class="list-group-item" href="{{ url_for('guardian_add') }}">
			{% if guardians %}
			<small>Lägg till</small>
			{% else %}
			<strong>Lägg till</strong>
			{% endif %}
		</a>
		{% endif %}
	</div>
{% endblock %}
