{% extends "_base.html" %}
{% set tab = "guardians" %}
{% import "_macros.html" as m %}
{% block content %}
	<form class="form-horizontal" action="." method="POST">
		{{ form.hidden_tag() }}
		
		{{ m.hform_group("Förnamn*", form.first_name) }}
		{{ m.hform_group("Efternamn*", form.last_name) }}
		
		<hr />
		
		{{ m.hform_group("Telefonnummer", form.phone) }}
		{{ m.hform_group("Mobilnummer", form.phone2) }}
		{{ m.hform_group("E-postadress", form.email) }}
		
		<hr />
		
		{{ m.hform_group("Kommentar", form.comment) }}
		{{ m.hform_group("Privat", form.private, "Privata anhöriga syns inte i matrikeln, och kan endast ses av dirigenter och administratörer.") }}
		
		<hr />
		
		<input type="submit" class="btn btn-primary" value="Spara" />
	</form>
{% endblock %}
