{% extends "_base.html" %}
{% block content %}
	<h1>
		{{ guardian.first_name }} {{ guardian.last_name }}
		
	</h1>
	
	{% if guardian.comment %}
	<hr />
	<p>{{ guardian.comment|nl2br }}</p>
	{% endif %}
	
	<hr />
	
	<dl class="dl-horizontal">
		{% if guardian.phone %}
		<dt>Telefonnummer</dt>
		<dd>{{ guardian.phone }}</dd>
		{% endif %}
		{% if guardian.email %}
		<dt>E-postadress</dt>
		<dd>{{ guardian.email }}</dd>
		{% endif %}
	</dl>
	
	<hr />
	
	<ul class="nav nav-custom-list">
		<li><a href="{{ url_for('guardian_edit', id=guardian.id) }}">Redigera</a></li>
		<li><a href="{{ url_for('guardian_delete', id=guardian.id) }}">Radera</a></li>
	</ul>
{% endblock %}
