{% extends "_base.html" %}
{% block content %}
	<h1>KÖRFORMULÄR VÅRTERMINEN 2015</h1>
	<p>
		Vi har sjungande barn och ungdomar som står på kö till alla körgrupper.
	</p>
	<p>
		För att veta om vi kan ta in några nya till vårterminen, måste vi veta om du ska fortsätta i kören, eller om någon annan kan ta din plats.
	</p>
	<p>
		Ditt svar behöver vi ha senast <big><strong>9 januari</strong></big>.
	</p>
	
	<h2>Närvaro</h2>
	<p>
		Alla Domkyrkans körer har en hög ambitionsnivå. Möjligheten att musikaliskt nå dit vi vill, hänger i hög grad på körsångarnas närvaro.<br />
		Det vill säga: varje enskild körsångare ska delta med hög procent fysisk och mental närvaro.<br />
		När du bekräftar ditt deltagande i kommande verksamhetsår gör du det till ditt personliga ansvar att prioritera så att du inte genom att utebli sätter dina medkorister på det hala vid repetitioner eller konserter.<br />
		Därför, ligg steget före: planera och kommunicera!<br />
		(Har du ingen egen kalender? Skaffa en! Många har provat att ha en. Alla har varit nöjda!)
	</p>
	
	<p>
		Svarsformuläret är vår överenskommelse om att allt ska kunna<br />
		fungera som planerat med dig som körsångare.
	</p>
	
	<h2>Körtrappan</h2>
	<p>
		Inför vårterminens början finns möjlighet för Nissar att söka till Ungdomskören. Se hemsidan för mer information.
	</p>
	<p>
		Mot slutet av terminen kommer det också att finnas möjlighet att provsjunga för gruppbyte från  Äldre Flickkören till Ungdomskören.
	</p>
	
	{#<h2>Körtrappan</h2>
	<p>
		Systemet med en körtrappa, körer för olika åldrar från 8 år till vuxen ålder, ger möjlighet att söka mellan de olika grupperna.
	</p>
	<p>
		<strong>Gosskörens 2:a-årsaspiranter:</strong><br />
		har möjlighet att flytta upp till Gosskören från och med terminsstarten. Anmäl i formuläret att du i vår tillhör Gosskören och kryssa i rutan "Jag byter grupp från G-asp" så att det syns i databasen att du är ny i GK. Dina föräldrar ska följaktligen gå på Gosskörens föräldramöte, inte Aspiranternas!
		<br />
		
		<strong>Flickkörens 2:aårsaspiranter:</strong><br />
		inga planerade gruppbyten under våren.
		<br />
		
		<strong>Yngre Flickkören:</strong><br />
		inga planerade gruppbyten under våren. Den som börjar känna sig urvuxen i YF och tror att den skulle passa bättre i ÄF, kan höra av sig till Petter, så kan vi diskutera möjligheten till uppflyttning senare under terminen.
		<br />
		
		<strong>Gosskören till Nissarna:</strong><br />
		Gosskörssångare som börjat mullra: är det kanske dags att byta till Nissarna? Anmäl dig i formuläret som Nisse för i vår och mejla Petter, så kan vi komma överens om ifall du behöver/vill bli lyssnad på enskilt inför bytet.
		<br />
		
		<strong>Nissar och Äldre Flickkören till Ungdomskören:</strong><br />
		Ungdomskören är körtrappans slutstation, och rymmer det största åldersspannet, sångarna är mellan 17 och 25 år. Många Ungdomskörssångare stannar alltså kvar länge och det är väldigt roligt! Men eftersom Ungdomskören inte kan bli hur stor som helst, och framför allt inte bli en stor damkör med enstaka herrar, betyder det att det inte går att fylla på uppåt i den takt många i Äldre Flickkören skulle önska. Men även om det inte är möjligt att uppfylla alla om uppflyttningönskningar, är det viktigt att vi vet om vilka som skulle vilja flytta till GU.<br />
		Kryssa därför i om du vill söka till ungdomskören, så skickar jag dig en tid för gruppbytarprovsjungning den 12 januari. <br />
		När du kryssar i att du vill söka till GU, kommer du att få fram både Ni/ÄF:s och Ungdomskörens datum i formuläret att ta ställning till.
	</p>#}

	<h2>Medlemskap</h2>
	<p>
		Körverksamheten i Domkyrkan är avgiftsfri för körsångarna, men inte gratis att bedriva.<br />
		En stor del av ekonomin bärs upp av <strong>Föreningen Domkyrkans Goss- och Flickkörer</strong>.
	</p>
	<p>
		<em>Ordinarie medlemmar är alla barn och ungdomar som efter provsjungning vinner inträde i Göteborgs Domkyrkas Goss- och flickkörer, samt deras familjer.</em> <small>(§3 i föreningsstadgan)</small>
	</p>
	<p>
		Medlemsavgiften per läsår är <strong>200 kr</strong> per familj (alltså inte per körsångare) och betalas till <strong>PlusGiro-konto 308411-8</strong> inför höstterminen, senast 31 augusti.<br />
		Högre belopp välkomnas naturligtvis också!<br />
		Kom ihåg att ange <strong>körsångarens namn</strong> på inbetalningen!
	</p>
	
	<h2>Repetitionstider</h2>
	<p>
		<strong>Ta igen missad repetition</strong><br />
		Flickkörsaspiranter som inte kan komma på en enstaka repetition, kan istället gå på veckans gosskörsaspirantrepetition, och vice versa.<br />
		Yngre Flickkören kan ta igen enstaka missade repetitioner på Gosskörens repetitioner, och tvärtom.<br />
		MEN! Skicka ett mejl till din dirigent om du behöver komma på "fel" repetition, så att du får bekräftat att det går bra just den veckan.
		<br />
		<strong>Petter:</strong> petter.ekberg@svenskakyrkan.se<br />
		<strong>Ulrika:</strong> ulrika.melin-lasson@svenskakyrkan.se
	</p>
	
	<p>
		<strong>Ändringar</strong> meddelas i bästa fall både som ett inlägg under körgruppernas flikar på hemsidan och i körernas google-kalender som du kan prenumerera på via hemsidan.<br />
		Men det kan hända att vi missar, så kolla alltid bådadera och ifrågasätt gärna via mejl eller sms om något inte verkar stämma, så att vi kan rätta till det som blir fel!
	</p>
	
	<p>
		<strong>Måndagar</strong><br />
		kl 17-18 Nissar<br />
		kl 18 - 19:30 Extra repetitionstid. Denna tid schemaläggs inte, men alla grupper kan vid behov komma att ha repetitioner på denna tid.<br />
		
		<strong>Tisdagar</strong><br />
		kl 17-18:30 Äldre Flickkören<br />
		kl 18:30-21 Ungdomskören<br />
		
		<strong>Onsdagar</strong><br />
		kl 17-18:30 Gosskörens aspiranter<br />
		kl 18:30-20 Gosskören<br />
		
		<strong>Torsdagar</strong><br />
		kl 17-18:30 Flickkörens aspiranter (huvudsakligen under ledning av Ulrika Melin Lasson)<br />
		kl 18:30-20 Yngre Flickkören (huvudsakligen under ledning av Ulrika Melin Lasson)<br />
		
		<strong>Fredagar</strong><br />
		Om det är UNGA SJUNGA-konsert på lördag är det alltid repetition på fredag kväll. Tiden varierar.<br />
		
		<strong>Lördagar</strong><br />
		UNGA SJUNGA-konserterna är i allmänhet kl 12, undantagsvis kl 15.<br />
		
		<strong>Söndagar</strong><br />
		Den körgrupp som medverkar vid högmässan kl 11 har alltid samling kl 9:30.
	</p>
{% endblock %}
