{% extends "_base.html" %}
{% block content %}
	<h1>
		{{ korist.first_name }} {{ korist.last_name }} <small>({{ korist.group.code }})</small>
		<a class="btn btn-default pull-right" href="{{ url_for('korist_edit', id=korist.id) }}">Redigera</a>
	</h1>
	<hr />
	
	<p>{{ korist.address1 }}</p>
	{% if korist.address2 %}<p>{{ korist.address2 }}</p>{% endif %}
	
	<hr />
	
	<dl class="dl-horizontal">
		<dt>Telefonnummer</dt>
		<dd>{{ korist.phone }}</dd>
		{% if korist.mobile %}
		<dt>Mobilnummer</dt>
		<dd>{{ korist.mobile }}</dd>
		{% endif %}
		{% if korist.email %}
		<dt>E-postadress</dt>
		<dd>{{ korist.email }}</dd>
		{% endif %}
	</dl>
{% endblock %}