{% extends "_base.html" %}
{% set tab = "korists" %}
{% import "_macros.html" as m %}
{% block content %}
	<form class="form-horizontal" action="." method="POST">
		{#{% for error in form.osas.errors %}{{ error }}{% endfor %}#}
		
		{{ form.hidden_tag() }}
		
		{% if form.active %}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					{{ m.form_print_field(form.active, class="radiolist") }}
				</div>
			</div>
		</div>
		
		<hr />
		{% endif %}
		
		{{ m.hform_group("Förnamn*", form.first_name) }}
		{{ m.hform_group("Efternamn*", form.last_name) }}
		{{ m.hform_group("Födelsedag*", form.birthday, placeholder="ÅÅÅÅ-MM-DD") }}
		
		<hr />
		
		{{ m.hform_group("Adress 1*", form.address1, placeholder="Allt man behöver skriva på ett brev för att det ska komma fram, inklusive postnummer") }}
		{{ m.hform_group("Adress 2", form.address2, placeholder="(Om man bor på två ställen)") }}
		
		<hr />
		
		{{ m.hform_group("Telefonnummer&nbsp;1*", form.phone, placeholder="Till självgående korist alt. föräldrar") }}
		{{ m.hform_group("Telefonnummer&nbsp;2", form.mobile, placeholder="Till självgående korist alt. föräldrar") }}
		{{ m.hform_group("E-postadress", form.email, placeholder="Till självgående korist alt. föräldrar") }}
		
		<hr />
		
		{{ m.hform_group("Allergier", form.allergies, placeholder="Födoämnesallergier och -överkänsligheter, tex nötter, laktos och andra matrelaterade hänsyn, tex vegetarian. Det du skriver här syns i matrikeln.") }}
		{{ m.hform_group("Övriga Upplysningar", form.other_info, placeholder="Det du skriver här syns inte i matrikeln, det kan endast läsas av körens dirigenter och databasens administratör.") }}
		
		{% if form.osas|count > 0 %}
		
		<div id="events-container">
			<hr />
			
			<p>
				Dina svar i terminsöversikten kan endast läsas av dig själv, körens dirigenter och databasens administratör. Du kan inte ändra i ett inskickat formulär! Ändringar meddelas per e-post till dirigenterna.
			</p>
			
			<div class="list-group">
			{% for i in range(korist.group.events.count()) %}
				{% with event = korist.group.events[i], osa_form = form.osas[i] %}
				<div class="list-group-item event" id="event-{{ event.id }}">
					{{ osa_form.hidden_tag() }}
					<h3>
						{{ event.title }}<br />
						<small>{{ event.dateline }}</small>
					</h3>
					
					{{ event.description|safe|nl2br }}

					{% if not event.no_answer %}
					<hr />
					
					{{ m.form_print_field(osa_form.osa, class="radiolist") }}
					{{ m.form_print_field(osa_form.comment, placeholder="Här kan du kommentera ett nej/kanske-svar.") }}

					{% else %}
					
					<input type="hidden" name="{{ osa_form.osa.name }}" value="1" />
					<input type="hidden" name="{{ osa_form.comment.name }}" value="" />
					
					{% endif %}
				</div>
				{% endwith %}
			{% endfor %}
			</div>
		</div>
		{% endif %}
		
		<hr />
		
		<div class="form-group" id="confirmation-container">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="confirmation" />
						Jag är medveten om att jag som medlem i körerna också är medlem i Föreningen Domkyrkans Goss- och Flickkörer och kommer att betala familjens årsavgift på (minst) 300 kr senast 31 augusti.{#<br />
						<em class="text-muted">(OBS! Gäller inte dig som byter grupp, och alltså betalade din medlemsavgift redan i höstas!)</em>#}
					</label>
				</div>
			</div>
		</div>

		<input type="submit" class="btn btn-primary" value="Spara" />
	</form>
{% endblock %}
{% block extrascripts %}
	<script type="text/javascript">
	$('#confirmation').change(function() {
		$('input[type=submit]').prop('disabled', $('input[name=active]:checked').val() === "1" && !this.checked);
	}).change();
	
	$('#active').change(function() {
		var active = $('input[name=active]:checked').val() == "1";
		$('#events-container').toggle(active);
		$('#confirmation-container').toggle(active);
		$('#confirmation').change();
	}).change();
	
	$('form').on('submit', function() {
		if($('input[name=active]:checked').val() != "1") {
			console.log("INACTIVE");
			$('.event input[value=2]').prop('checked', active != 1);
		}
	});
	</script>
{% endblock %}
