{% extends "_base.html" %}
{% set tab = "korists" %}
{% import "_macros.html" as m %}
{% block content %}
	<form class="form-horizontal" action="." method="POST">
		{#{% for error in form.osas.errors %}{{ error }}{% endfor %}#}
		
		{{ form.hidden_tag() }}
		
		{% if form.active %}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<div class="checkbox">
					{{ m.form_print_field(form.active, class="radiolist") }}
				</div>
			</div>
		</div>
		
		<hr />
		{% endif %}
		
		{{ m.hform_group("Förnamn*", form.first_name) }}
		{{ m.hform_group("Efternamn*", form.last_name) }}
		{{ m.hform_group("Födelsedag*", form.birthday, placeholder="ÅÅÅÅ-MM-DD") }}
		
		<hr />
		
		{{ m.hform_group("Address 1*", form.address1, placeholder="Allt man behöver skriva på ett brev för att det ska komma fram, inklusive postnummer") }}
		{{ m.hform_group("Address 2", form.address2, placeholder="(Om man bor på två ställen)") }}
		
		<hr />
		
		{{ m.hform_group("Telefonnummer*", form.phone) }}
		{{ m.hform_group("Mobilnummer", form.mobile) }}
		{{ m.hform_group("E-postaddress", form.email) }}
		
		<hr />
		
		{{ m.hform_group("Allergier", form.allergies, placeholder="Födoämnesallergier och -överkänsligheter, tex nötter, laktos och andra matrelaterade hänsyn, tex vegetarian") }}
		{{ m.hform_group("Övriga Upplysningar", form.other_info) }}
		
		{% if form.osas|count > 0 %}
		
		<div id="events-container">
			<hr />
			
			<div class="list-group">
			{% for i in range(korist.group.events.count()) %}
				{% with event = korist.group.events[i], osa_form = form.osas[i] %}
				<div class="list-group-item event">
					{{ osa_form.hidden_tag() }}
					<h3>
						{{ event.title }}<br />
						<small>{{ event.dateline }}</small>
					</h3>
					
					{{ event.description|nl2br }}
					
					<hr />
					
					{{ m.form_print_field(osa_form.osa, class="radiolist") }}
					{{ m.form_print_field(osa_form.comment, placeholder="Kommentar") }}
				</div>
				{% endwith %}
			{% endfor %}
			</div>
		</div>
		{% endif %}
		
		<hr />
		
		<input type="submit" class="btn btn-primary" value="Spara" />
	</form>
{% endblock %}
{% block extrascripts %}
	<script type="text/javascript">
	$('#active').change(function() {
		var active = $('input[name=active]:checked').val()
		$('#events-container').toggle(active == 1)
		$('.event input[value=2]').prop('checked', active != 1)
	}).change()
	</script>
{% endblock %}
