{% extends "_base.html" %}
{% block content %}
	<h1>
		{{ korist.first_name }} {{ korist.last_name }} <small>(<a href="{{ url_for('matrikel_group', group=korist.group.slug) }}">{{ korist.group.code }}</a>)</small>
	</h1>
	
	{% if (korist.other_info and korist.profile == current_user.profile) or korist.allergies %}<hr />{% endif %}
	{% if korist.other_info and korist.profile == current_user.profile %}
	{{ korist.other_info|nl2br }}
	{% endif %}
	
	{% if korist.allergies %}
	{% if korist.other_info and korist.profile == current_user.profile %}<br />{% endif %}
	<h5>Allergier</h5>
	{{ korist.allergies|nl2br }}
	{% endif %}
	
	
	<hr />
	
	<dl class="dl-horizontal">
		<dt>Adress{% if korist.address2 %} 1{% endif %}</dt>
		<dd>{{ korist.address1|nl2br }}</dd>
		
		<dt>Telefonnummer</dt>
		<dd>{{ korist.phone }}</dd>
		
		{% if korist.mobile %}
		<dt>Mobilnummer</dt>
		<dd>{{ korist.mobile }}</dd>
		{% endif %}
		
		{% if korist.email %}
		<dt>E-postadress</dt>
		<dd>{{ korist.email }}</dd>
		{% endif %}
	</dl>
	
	{% if korist.profile == current_user.profile %}
	<hr />
	
	<div class="buttonset">
		<a class="btn btn-default btn-xs-block" href="{{ url_for('korist_edit', id=korist.id) }}">Redigera</a>
	</div>
	{% endif %}
{% endblock %}
