{% extends "_base.html" %}
{% block content %}
	<h1>
		{{ korist.first_name }} {{ korist.last_name }} <small>(<a href="{{ url_for('matrikel_group', group=korist.group.slug) }}">{{ korist.group.code }}</a>)</small>
	</h1>
	
	{% if (korist.other_info and korist.profile == current_user.profile) or korist.allergies or current_user.has_role('Admin') %}<hr />{% endif %}
	{% if korist.other_info and ( korist.profile == current_user.profile or current_user.has_role('Admin') ) %}
	{{ korist.other_info|nl2br }}
	{% endif %}
	
	{% if korist.allergies %}
	{% if korist.other_info and ( korist.profile == current_user.profile or current_user.has_role('Admin') ) %}<br />{% endif %}
	<h5>Allergier</h5>
	{{ korist.allergies|nl2br }}
	{% endif %}
	
	
	<hr />
	
	<dl class="dl-horizontal">
		<dt>Adress{% if korist.address2 %} 1{% endif %}</dt>
		<dd>{{ korist.address1|nl2br }}</dd>
		
		<dt>Telefon Korist</dt>
		<dd>{{ korist.phone1 }}</dd>
		
		<dt>Telefon Förälder</dt>
		<dd>{{ korist.phone2 }}</dd>
		
		{% if korist.email1 %}
		<dt>E-postadress</dt>
		<dd>{{ korist.email1 }}</dd>
		{% endif %}
	</dl>
	
	{% if korist.profile == current_user.profile or current_user.has_role('Admin') %}
	<hr />
	
	{% if current_user.has_role('Admin') %}<div class="adminonly">{% endif %}
	<div class="list-group">
	{% for osa in korist.osas %}
	{% if not osa.event.no_answer %}
		<div class="list-group-item list-group-item-{{ osa.osa_class_suffix() }} event">
			<small class="pull-right"><strong>{{ osa.osa_str() }}</strong></small>
			<h4>
				{{ osa.event.title }} <small>&mdash;&nbsp;{{ osa.event.dateline }}</small>
			</h4>
			
			<div class="small">
				{{ osa.event.description|safe|nl2br }}
			</div>
			
			{% if osa.comment %}
			<p><em>({{ osa.comment }})</em></p>
			{% endif %}
		</div>
	{% endif %}
	{% endfor %}
	</div>
	{% if current_user.has_role('Admin') %}</div>{% endif %}
	
	<hr />
	
	<div class="buttonset">
		<a class="btn btn-default btn-xs-block" href="{{ url_for('korist_edit', id=korist.id) }}">Redigera</a>
	</div>
	{% endif %}
{% endblock %}

