{% extends "_base.html" %}
{% set tab = "matrikel" %}
{% set tabsub = group.slug %}
{% block content %}
	<table class="table">
		<thead>
			<th>Förnamn</th>
			<th>Efternamn</th>
			<th>Telefonnummer</th>
			<th>Mobilnummer</th>
			<th>E-postadress</th>
			<th class="hidden-print">Mer</th>
		</thead>
		<tbody>
			{% for korist in group.members %}
			{% if korist.active %}
			<tr>
				<td>{{ korist.first_name }}</td>
				<td>{{ korist.last_name }}</td>
				<td>{{ korist.phone }}</td>
				<td>{{ korist.mobile }}</td>
				<td>{{ korist.email }}</td>
				<td class="hidden-print"><a href="{{ url_for('korist', id=korist.id) }}">&rarr;</a></td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
