{% extends "_base.html" %}
{% set tab = "matrikel" %}
{% set tabsub = group.slug %}
{% set fullwidth_container = True %}
{% block content %}
	<table class="table">
		<thead>
			<th>Förnamn</th>
			<th>Efternamn</th>
			<th>Adress</th>
			<th>Telefon Korist</th>
			<th>Telefon Vuxen</th>
			<th>E-postadress</th>
			<th class="hidden-print">Mer</th>
		</thead>
		<tbody>
			{% for korist in group.members %}
			{% if korist.active %}
			<tr>
				<td>{{ korist.first_name }}</td>
				<td>{{ korist.last_name }}</td>
				<td>{{ korist.address1|nl2br }} {{ korist.address2|nl2br }}</td>
				<td>{{ korist.phone1 }}</td>
				<td>{{ korist.phone2 }}</td>
				<td>{{ korist.email1 }}</td>
				<td class="hidden-print"><a href="{{ url_for('korist', id=korist.id) }}">&rarr;</a></td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
