{% extends "_base.html" %}
{% set tab = "user" %}
{% set tabsub = "settings" %}
{% import "_macros.html" as m %}
{% block content %}
	<form class="form-horizontal" action="." method="POST">
		{{ form.hidden_tag() }}
		
		{{ m.hform_group("Gammalt Lösenord", form.old_password) }}
		{{ m.hform_group_multi("Nytt Lösenord", [form.new_password, form.new_password_again], "Två gånger, så att du inte skrev fel") }}
		
		<hr />
		
		<input type="submit" class="btn btn-primary" value="Spara" />
	</form>
{% endblock %}
